.contact-team {
  background: #fefefe;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-us {
  background: #f4f6fc;
}

.list-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #2e2e30;
}
.contact-us-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #2e2e30;
}
