@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #fffbf2;
}

.faqs-section {
  background: #fffbf2;
}

.faq-body-head h4,
.faq-sub-header,
.question {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 26px;
}
.faq-sub-header,
.question {
  font-size: 18px;
}
