.navbar {
  background-color: #fff;
}
.navbar .navbar-brand {
  margin-left: 8rem;
  margin-right: 15rem;
}
.navbar-item .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #2e2e30 !important;
}

.nav-item .nav-link:hover {
  color: #2354d1 !important;
  transition: 1s;
}
.nav-item .nav-link.active {
  color: #2354d1 !important;
}

.nav-item .nav-link:hover {
  color: #2354d1 !important;
  transition: 1s;
}
.nav-item .nav-link.active {
  color: #2354d1 !important;
}
.navbar-light .navbar-toggler {
  color: #2354d1 !;
  border-color: #2354d1 !important;
}
